* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}
body .search-image-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url(../images/bg3.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: max(1rem, 5%);
}
body .search-image-container h1 {
  font-size: clamp(1.7rem, 5vw, 3rem);
  color: #fff;
  font-weight: 800;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  max-width: 650px;
  z-index: 999;
}
body .search-image-container p {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  color: #ebebeb;
  z-index: 999;
}
body .search-image-container .search-input-wrapper {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  position: relative;
}
body .search-image-container .search-input-wrapper input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  background-color: #353535;
  max-width: 500px;
  width: 100%;
  border: 1px solid #a8a8a8;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: #ebebeb;
  transition: 300ms ease;
  color: #ebebeb;
}
body .search-image-container .search-input-wrapper input::-moz-placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
body .search-image-container .search-input-wrapper input::placeholder {
  font-weight: 400;
  color: #a8a8a8;
}
body .search-image-container .search-input-wrapper input:hover, body .search-image-container .search-input-wrapper input:focus {
  border: 1px solid #fff;
  background-color: #121212;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
}
body .search-image-container .search-input-wrapper input.error {
  color: #353535;
  border: 1px solid #ff5858;
}
body .search-image-container .search-input-wrapper input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #353535 inset !important;
  -webkit-text-fill-color: #ebebeb !important;
  caret-color: #ebebeb;
}
body .search-image-container .search-input-wrapper .error-message {
  color: #ff5858;
  position: absolute;
  top: -25px;
  left: 0;
  font-size: 1rem;
  font-weight: 300;
  pointer-events: none;
  display: none;
}
body .search-image-container .search-input-wrapper .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 300ms ease;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}
body .search-image-container .search-input-wrapper .search-btn i {
  font-size: 1.3rem;
  color: #a8a8a8;
  transition: 300ms ease;
}
body .search-image-container .search-input-wrapper .search-btn:hover i {
  color: #fff;
}
body .search-image-container .reset-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 300ms ease;
  z-index: 99999;
}
body .search-image-container .reset-btn img {
  width: 60px;
}
body .search-image-container .reset-btn:hover {
  transform: scale(0.95);
}
body .display-image-container {
  padding: 2rem;
  text-align: center;
}
body .display-image-container h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: #353535;
}
body .display-image-container h5 .display-image-text-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .display-image-container h5 .display-image-text-wrapper .display-image-text-span {
  padding: 5px;
  background-color: #353535;
  color: #ebebeb;
}
body .display-image-container h5 .display-image-text-wrapper img {
  width: 40px;
  cursor: pointer;
}
body .display-image-container .no-photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body .display-image-container .no-photos-container h3 {
  padding: 1.5rem;
  border: 1px solid #a8a8a8;
  font-size: 1.5rem;
  font-weight: 400;
  pointer-events: none;
}
body .display-image-container .no-photos-container img {
  max-width: 350px;
  width: 100%;
}
body .display-image-container .no-photos-container.hide {
  display: none;
}
body .display-image-container .display-image-wrapper {
  list-style: none;
  -moz-column-count: 4;
       column-count: 4;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
body .display-image-container .display-image-wrapper .card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 999;
  margin-bottom: 1rem;
}
body .display-image-container .display-image-wrapper .card img {
  width: 100%;
  display: block;
  transition: 300ms ease;
}
body .display-image-container .display-image-wrapper .card .details {
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  background: #000000;
  background: linear-gradient(0deg, rgb(22, 22, 22) 15%, rgba(0, 0, 0, 0) 90%);
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 300ms ease;
}
body .display-image-container .display-image-wrapper .card .details .photographer {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
body .display-image-container .display-image-wrapper .card .details .photographer i {
  font-size: 1.3rem;
}
body .display-image-container .display-image-wrapper .card .details .photographer .photographer-name {
  font-weight: 300;
  font-size: 1rem;
}
body .display-image-container .display-image-wrapper .card .details .download-image {
  cursor: pointer;
  padding: 8px;
  outline: none;
  border: none;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  transition: 300ms ease;
}
body .display-image-container .display-image-wrapper .card .details .download-image img {
  width: 15px;
}
body .display-image-container .display-image-wrapper .card .details .download-image:hover {
  transform: scale(0.98);
  background-color: #fff;
}
body .display-image-container .display-image-wrapper .card:hover img {
  transform: scale(1.1);
}
body .display-image-container .display-image-wrapper .card:hover .details {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
body .display-image-container .load-more {
  display: none;
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #805dff;
  color: #ebebeb;
  font-size: 1.1rem;
  font-weight: 700;
  transition: 200ms ease;
}
body .display-image-container .load-more:hover {
  transform: scale(0.97);
  background-color: #9b80ff;
}
body .display-image-container .load-more.shown {
  display: block;
  margin: 2rem auto;
}
body .display-image-container .load-more.disabled {
  opacity: 0.6;
  pointer-events: none;
}
body.height {
  height: auto;
  min-height: 100vh;
  overflow: auto;
}

.lightbox-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.3098039216);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}
.lightbox-container .lightbox-wrapper {
  height: 85dvh;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
  background-color: #ebebeb;
  max-width: 1200px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px) scale(0);
  transition: 300ms ease;
}
.lightbox-container .lightbox-wrapper .lightbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.lightbox-container .lightbox-wrapper .lightbox-header .left-side {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  color: #353535;
}
.lightbox-container .lightbox-wrapper .lightbox-header .right-side {
  display: flex;
  gap: 10px;
}
.lightbox-container .lightbox-wrapper .lightbox-header .right-side button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #805dff;
  color: #fff;
  border: none;
  outline: none;
  transition: 200ms ease;
  width: 42px;
  height: 42px;
}
.lightbox-container .lightbox-wrapper .lightbox-header .right-side button img {
  width: 18px;
  height: 18px;
}
.lightbox-container .lightbox-wrapper .lightbox-header .right-side button:hover {
  background-color: #9b80ff;
  transform: scale(0.97);
}
.lightbox-container .lightbox-wrapper .lightbox-header .right-side .close-lightbox-btn {
  background-color: #121212;
}
.lightbox-container .lightbox-wrapper .lightbox-header .right-side .close-lightbox-btn:hover {
  background-color: #353535;
}
.lightbox-container .lightbox-wrapper .lightbox-image {
  display: flex;
  justify-content: center;
}
.lightbox-container .lightbox-wrapper .lightbox-image .img {
  max-height: 65dvh;
  max-width: 100dvh;
}
.lightbox-container .lightbox-wrapper .lightbox-image .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox-container.shown .lightbox-wrapper {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) scale(1);
}

@media (max-width: 1150px) {
  body .display-image-container .display-image-wrapper {
    -moz-column-count: 3;
         column-count: 3;
  }
  body .display-image-container .display-image-wrapper .card .details {
    padding: 10px;
    gap: 10px;
  }
  body .display-image-container .display-image-wrapper .card .details .photographer .photographer-name {
    font-size: 0.9rem;
  }
  body .display-image-container .display-image-wrapper .card .details .photographer i {
    font-size: 1rem;
  }
  body .display-image-container .display-image-wrapper .card .details .download-image {
    width: 25px;
    height: 25px;
    padding: 6px;
  }
  body .display-image-container .display-image-wrapper .card .details .download-image img {
    width: 12px;
  }
  body .lightbox-container .lightbox-wrapper {
    justify-content: center;
  }
}
@media (max-width: 900px) {
  body .search-image-container .reset-btn {
    position: static;
  }
  body .display-image-container {
    padding: 1rem;
  }
  body .display-image-container .display-image-wrapper {
    -moz-column-count: 3;
         column-count: 3;
  }
  body .search-image-container p {
    font-size: 14px;
  }
  body .search-image-container .search-input-wrapper {
    margin-top: 1rem;
  }
  body .display-image-container .no-photos-container h3 {
    font-size: 1.2rem;
  }
}
@media (max-width: 750px) {
  body .display-image-container .display-image-wrapper {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 650px) {
  body .display-image-container h5 {
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
    gap: 6px;
    flex-direction: column;
  }
  body .display-image-container h5 .display-image-text-wrapper img {
    width: 30px;
  }
  body .display-image-container .no-photos-container img {
    max-width: 200px;
  }
  body .display-image-wrapper {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 550px) {
  body .display-image-container .display-image-wrapper {
    -moz-column-count: 1;
         column-count: 1;
  }
  body .lightbox-container {
    padding: 1rem;
  }
  body .lightbox-container .lightbox-wrapper {
    padding: 1rem;
  }
  body .lightbox-container .lightbox-wrapper .lightbox-header {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.55rem;
    gap: 10px;
  }
  body .display-image-container .no-photos-container {
    margin-top: 1rem;
  }
  body .display-image-container .no-photos-container h3 {
    padding: 0.9rem;
    font-size: 0.9rem;
  }
  body .display-image-container .load-more {
    padding: 8px;
    font-size: 0.9rem;
  }
}/*# sourceMappingURL=style.css.map */