@import 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
	overflow: hidden;

	// Search Section Styles
	.search-image-container {
		position: relative;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background-image: url(../images/bg3.webp);
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		padding: max(1rem, 5%);

		h1 {
			font-size: clamp(1.7rem, 5vw, 3rem);
			color: $whiteColor;
			font-weight: 800;
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
			max-width: 650px;
			z-index: 999;
		}

		p {
			font-size: clamp(1rem, 1.5vw, 1.1rem);
			color: $textColor;
			z-index: 999;
		}

		.search-input-wrapper {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 500px;
			width: 100%;
			position: relative;

			input {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
				padding: 10px 20px;
				background-color: $lighDark;
				max-width: 500px;
				width: 100%;
				border: 1px solid $strokeColor;
				outline: none;
				font-size: 1rem;
				font-weight: 600;
				color: $textColor;
				transition: 300ms ease;
				color: $textColor;

				&::placeholder {
					font-weight: 400;
					color: $strokeColor;
				}

				&:hover,
				&:focus {
					border: 1px solid $whiteColor;
					background-color: $darkText;
					box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
				}

				&.error {
					color: $lighDark;
					border: 1px solid $alertColor;
				}

				&:-webkit-autofill {
					-webkit-box-shadow: 0 0 0 1000px $lighDark inset !important;
					-webkit-text-fill-color: $textColor !important;
					caret-color: $textColor;
				}
			}

			.error-message {
				color: $alertColor;
				position: absolute;
				top: -25px;
				left: 0;
				font-size: 1rem;
				font-weight: 300;
				pointer-events: none;
				display: none;
			}

			.search-btn {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				padding: 10px;
				border: none;
				outline: none;
				cursor: pointer;
				transition: 300ms ease;
				position: absolute;
				right: 5px;
				top: 50%;
				transform: translateY(-50%);
				z-index: 9999;

				i {
					font-size: 1.3rem;
					color: $strokeColor;
					transition: 300ms ease;
				}

				&:hover i {
					color: $whiteColor;
				}
			}
		}

		.reset-btn {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 80px;
			height: 80px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background-color: transparent;
			border: none;
			outline: none;
			transition: 300ms ease;
			z-index: 99999;

			img {
				width: 60px;
			}

			&:hover {
				transform: scale(0.95);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #0000008c;
			z-index: 0;
			pointer-events: none;
		}
	}

	// Main Container syles
	.display-image-container {
		padding: 2rem;
		text-align: center;

		h5 {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 10px;
			text-align: center;
			font-size: 1.1rem;
			margin-bottom: 2rem;
			color: $lighDark;

			.display-image-text-wrapper {
				display: flex;
				align-items: center;
				gap: 10px;

				.display-image-text-span {
					padding: 5px;
					background-color: $lighDark;
					color: $textColor;
				}
				img {
					width: 40px;
					cursor: pointer;
				}
			}
		}

		// No Photos container styles
		.no-photos-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 1.5rem;
			user-select: none;

			h3 {
				padding: 1.5rem;
				border: 1px solid $strokeColor;
				font-size: 1.5rem;
				font-weight: 400;
				pointer-events: none;
			}

			img {
				max-width: 350px;
				width: 100%;
			}

			&.hide {
				display: none;
			}
		}

		// Display Image Wrapper Styles
		.display-image-wrapper {
			list-style: none;
			column-count: 4;
			column-gap: 1rem;

			.card {
				position: relative;
				cursor: pointer;
				overflow: hidden;
				z-index: 999;
				margin-bottom: 1rem;

				img {
					width: 100%;
					display: block;
					transition: 300ms ease;
				}

				.details {
					width: 100%;
					padding: 15px;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%) scale(0);
					background: #000000;
					background: linear-gradient(
						0deg,
						rgb(22, 22, 22) 15%,
						rgba(0, 0, 0, 0) 90%
					);
					display: flex;
					gap: 20px;
					justify-content: space-between;
					align-items: center;
					opacity: 0;
					visibility: hidden;
					pointer-events: none;
					transition: 300ms ease;

					.photographer {
						display: flex;
						align-items: center;
						gap: 10px;
						color: $whiteColor;

						i {
							font-size: 1.3rem;
						}

						.photographer-name {
							font-weight: 300;
							font-size: 1rem;
						}
					}

					.download-image {
						cursor: pointer;
						padding: 8px;
						outline: none;
						border: none;
						background-color: $textColor;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 35px;
						height: 35px;
						transition: 300ms ease;

						img {
							width: 15px;
						}

						&:hover {
							transform: scale(0.98);
							background-color: $whiteColor;
						}
					}
				}

				&:hover {
					img {
						transform: scale(1.1);
					}

					.details {
						transform: translateX(-50%) scale(1);
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
					}
				}
			}
		}

		// Load More Button
		.load-more {
			display: none;
			cursor: pointer;
			padding: 10px;
			border: none;
			outline: none;
			background-color: $accentColor;
			color: $textColor;
			font-size: 1.1rem;
			font-weight: 700;
			transition: 200ms ease;

			&:hover {
				transform: scale(0.97);
				background-color: $accentColorHover;
			}

			&.shown {
				display: block;
				margin: 2rem auto;
			}

			&.disabled {
				opacity: 0.6;
				pointer-events: none;
			}
		}
	}

	&.height {
		height: auto;
		min-height: 100vh;
		overflow: auto;
	}
}

// Lightbox Styles
.lightbox-container {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #1212124f;
	backdrop-filter: blur(2px);
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99999;

	.lightbox-wrapper {
		height: 85dvh;
		padding: 2rem;
		box-shadow: 0 0 15px rgba(0, 0, 0, 0.55);
		background-color: $textColor;
		max-width: 1200px;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-50px) scale(0);
		transition: 300ms ease;

		.lightbox-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 2rem;

			.left-side {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 1.4rem;
				color: $lighDark;
			}

			.right-side {
				display: flex;
				gap: 10px;

				button {
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 10px;
					background-color: $accentColor;
					color: $whiteColor;
					border: none;
					outline: none;
					transition: 200ms ease;
					width: 42px;
					height: 42px;

					img {
						width: 18px;
						height: 18px;
					}

					&:hover {
						background-color: $accentColorHover;
						transform: scale(0.97);
					}
				}

				.close-lightbox-btn {
					background-color: $darkText;

					&:hover {
						background-color: $lighDark;
					}
				}
			}
		}

		.lightbox-image {
			display: flex;
			justify-content: center;

			.img {
				max-height: 65dvh;
				max-width: 100dvh;

				img {
					height: 100%;
					width: 100%;
					object-fit: contain;
				}
			}
		}
	}
	&.shown .lightbox-wrapper {
		opacity: 1;
		visibility: visible;
		transform: translateY(0) scale(1);
	}
}

// Responsive Design Styles

@media (max-width: 1150px) {
	body {
		.display-image-container .display-image-wrapper {
			column-count: 3;

			.card .details {
				padding: 10px;
				gap: 10px;

				.photographer {
					.photographer-name {
						font-size: 0.9rem;
					}
					i {
						font-size: 1rem;
					}
				}
				.download-image {
					width: 25px;
					height: 25px;
					padding: 6px;

					img {
						width: 12px;
					}
				}
			}
		}

		.lightbox-container .lightbox-wrapper {
			justify-content: center;
		}
	}
}

@media (max-width: 900px) {
	body {
		.search-image-container .reset-btn {
			position: static;
		}
		.display-image-container {
			padding: 1rem;

			.display-image-wrapper {
				column-count: 3;
			}
		}

		.search-image-container {
			p {
				font-size: 14px;
			}
			.search-input-wrapper {
				margin-top: 1rem;
			}
		}

		.display-image-container .no-photos-container h3 {
			font-size: 1.2rem;
		}
	}
}

@media (max-width: 750px) {
	body .display-image-container .display-image-wrapper {
		column-count: 2;
	}
}
@media (max-width: 650px) {
	body {
		.display-image-container {
			h5 {
				font-size: 0.9rem;
				margin-bottom: 1.5rem;
				gap: 6px;
				flex-direction: column;

				.display-image-text-wrapper img {
					width: 30px;
				}
			}

			.no-photos-container img {
				max-width: 200px;
			}
		}
		.display-image-wrapper {
			column-count: 2;
		}
	}
}

@media (max-width: 550px) {
	body {
		.display-image-container .display-image-wrapper {
			column-count: 1;
		}

		.lightbox-container {
			padding: 1rem;
			.lightbox-wrapper {
				padding: 1rem;
				.lightbox-header {
					flex-direction: column;
					justify-content: center;
					margin-bottom: 1.55rem;
					gap: 10px;
				}
			}
		}

		.display-image-container {
			.no-photos-container {
				margin-top: 1rem;
				h3 {
					padding: 0.9rem;
					font-size: 0.9rem;
				}
			}
			.load-more {
				padding: 8px;
				font-size: 0.9rem;
			}
		}
	}
}
